<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.ApiMapper">

    <resultMap id="ApiTree" type="com.zhao.dto.ApiBackDTO">
        <result property="id" column="id"/>
        <result property="apiId" column="api_id"/>
        <result property="name" column="name"/>
        <result property="url" column="url"/>
        <result property="method" column="method"/>
        <result property="pid" column="pid"/>
        <result property="description" column="description"/>
        <result property="sort" column="sort"/>
        <collection property="children" ofType="com.zhao.dto.ApiBackDTO">
            <result property="id" column="bid"/>
            <result property="apiId" column="bapi_id"/>
            <result property="name" column="bname"/>
            <result property="url" column="burl"/>
            <result property="method" column="bmethod"/>
            <result property="pid" column="bpid"/>
            <result property="description" column="bdesc"/>
            <result property="sort" column="bsort"/>
        </collection>
    </resultMap>

    <select id="listApiInfoBack" resultMap="ApiTree" >
        select
            a.id,
            a.api_id,
            a.name,
            a.url,
            a.method,
            a.pid,
            a.description,
            a.sort,
            b.id bid,
            b.api_id bapi_id,
            b.name bname,
            b.url burl,
            b.method bmethod,
            b.pid bpid,
            b.description bdesc,
            b.sort bsort
        from  myblog.tb_api a, myblog.tb_api b
        where a.api_id = b.pid
        <if test="apiId != null">
            and (a.api_id = #{apiId} or b.pid = #{apiId})
        </if>
        order by a.sort asc
    </select>

    <select id="getAllApiPermission" resultType="com.zhao.dto.ApiPermissionDTO">
        select
            a.id,
            a.url,
            a.method request_method
        from myblog.tb_api a
        where a.url is not null
        order by a.sort;
    </select>

    <select id="getRoleListByApiId" resultType="java.lang.String">
        select
            r.role_name
        from myblog.tb_role_api ra,myblog.tb_role r
        where ra.api_id = #{apiId}
          and ra.role_id = r.role_id
    </select>

</mapper>
