<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.ApiMapper">

    <resultMap id="ApiTree" type="com.zhao.dto.ApiBackDTO">
        <id property="id" column="id"/>
        <result property="parentId" column="parent_id"/>
        <result property="resourceName" column="resource_name"/>
        <result property="url" column="url"/>
        <result property="requestMethod" column="request_method"/>
        <result property="createTime" column="create_time"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <collection property="children" ofType="com.zhao.dto.ApiBackDTO">
            <id property="id" column="cid"/>
            <result property="parentId" column="cparent_id"/>
            <result property="resourceName" column="cresource_name"/>
            <result property="url" column="curl"/>
            <result property="requestMethod" column="crequest_method"/>
            <result property="createTime" column="ccreate_time"/>
            <result property="isAnonymous" column="cis_anonymous"/>
        </collection>
    </resultMap>


    <resultMap id="ApiPermissionList" type="com.zhao.dto.ApiPermissionDTO">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <result property="requestMethod" column="request_method"/>
        <result property="isAnonymous" column="is_anonymous"/>
        <collection property="roleList" ofType="java.lang.String">
            <result column="role_name"/>
        </collection>
    </resultMap>

    <select id="getAllApiPermission" resultMap="ApiPermissionList">
        select
            r.id,
            r.url,
            r.request_method,
            r.is_anonymous,
            tr.role_name
        from
        (
            select r.id,
                   r.url,
                   r.request_method,
                   r.is_anonymous
            from myblog.tb_resource r
            where r.parent_id is not null
        ) r
        left join myblog.tb_role_resource rr on r.id = rr.resource_id
        left join myblog.tb_role tr on tr.role_id = rr.role_id
    </select>

    <select id="getResourcesInfoBack" resultMap="ApiTree">
        select
            r.id,
            r.url,
            r.resource_name,
            r.request_method,
            r.is_anonymous,
            r.create_time,
            r.parent_id,
            rr.id cid,
            rr.url curl,
            rr.resource_name cresource_name,
            rr.request_method crequest_method,
            rr.is_anonymous cis_anonymous,
            rr.create_time ccreate_time,
            rr.parent_id cparent_id
        from myblog.tb_resource r
        left join myblog.tb_resource rr on rr.parent_id = r.id
        <where>
            r.parent_id is null and (
            <if test="condition.keywords != null">
                 r.resource_name like concat('%',#{condition.keywords},'%')
            </if>
            <if test="condition.keywords != null">
                or rr.resource_name like concat('%',#{condition.keywords},'%')
            </if>
            )
        </where>
    </select>

    <update id="updateAnonymousById">
        update myblog.tb_resource r
        set r.is_anonymous = #{anonymous.isAnonymous}
        where r.id = #{anonymous.id}
    </update>
</mapper>
