<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.TagMapper">

    <resultMap id="ArticleBlogDTOList" type="com.zhao.dto.ArticleBlogDTO">
        <id property="articleId" column="article_id"/>
        <result property="articleContent" column="article_content"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleCover" column="article_cover"/>
        <result property="isTop" column="is_top"/>
        <result property="createTime" column="create_time"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <collection property="tagList" ofType="com.zhao.dto.TagDTO">
            <result property="tagId" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>

    <select id="getTagListByArticleId" resultType="com.zhao.pojo.Tag">
        select
            t.tag_id,
            t.tag_name
        from myblog.tb_article_tag at,myblog.tb_tag t
        where at.article_id = #{id}
          and at.tag_id = t.tag_id
    </select>

    <select id="listArticles" resultMap="ArticleBlogDTOList">
        select
            a.article_id,
            a.article_title,
            a.article_content,
            a.article_cover,
            a.is_top,
            a.create_time,
            a.category_id,
            a.category_name,
            ta.tag_id,
            ta.tag_name
        from
            (
                select
                    a.article_id,
                    a.article_title,
                    a.article_content,
                    a.article_cover,
                    a.is_top,
                    a.create_time,
                    c.category_id,
                    c.category_name
                from myblog.tb_new_article a
                         left join myblog.tb_category c on a.category_id = c.category_id
                         left join myblog.tb_article_tag at on at.article_id = a.article_id
                where
                    a.is_delete = 0
                  and a.status = 1
                  and at.tag_id = #{tagId}
                order by a.is_top desc
                limit #{current},1
            ) a
        left join myblog.tb_article_tag at on a.article_id = at.article_id
        left join myblog.tb_tag ta on ta.tag_id = at.tag_id
    </select>

    <select id="selectTagList" resultType="com.zhao.dto.TagDTO">
        select
            t.tag_id,
            t.tag_name
        from myblog.tb_tag t;
    </select>

    <select id="queryPageTags" resultType="com.zhao.dto.TagBackDTO">
        select
            t.tag_id,
            t.tag_name,
            t.create_time
        from myblog.tb_tag t
        <where>
            <if test="condition.keywords != null and condition.keywords != ''">
                and t.tag_name = #{condition.keywords}
            </if>
        </where>
        limit #{condition.current},#{condition.size}
    </select>

    <select id="queryArticleCountByTagId" resultType="java.lang.Integer">
        select
            count(1) article_count
        from myblog.tb_tag t,myblog.tb_article_tag at,myblog.tb_new_article a
        where t.tag_id = at.tag_id
          and a.article_id = at.article_id
          and a.is_delete = 0
          and t.tag_id = #{tagId}
    </select>
</mapper>
