<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhao.mapper.UserMapper">

    <resultMap id="UserBackMap" type="com.zhao.dto.UserDTO">
        <id column="user_id" property="userId"/>
        <result column="avatar" property="avatar"/>
        <result column="nickname" property="nickname"/>
        <result column="login_type" property="loginType"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="ip_source" property="ipSource"/>
        <result column="create_time" property="createTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="is_silence" property="isSilence"/>
        <collection property="roleList" ofType="com.zhao.pojo.Role">
            <id column="role_id" property="roleId"/>
            <result column="role_name" property="roleName"/>
        </collection>
    </resultMap>

    <select id="getUserRolesByUserId" parameterType="int" resultType="java.lang.String">
        select
            r.role_name
        from myblog.tb_role_user ru
        left join myblog.tb_user u on u.user_id = ru.user_id
        left join myblog.tb_role r on r.role_id = ru.role_id
        where u.user_id = #{id}
    </select>


    <select id="getUserList" resultMap="UserBackMap" parameterType="com.zhao.vo.ConditionVO">
        select
            u.user_id,
            u.nickname,
            u.avatar,
            u.create_time,
            u.last_login_time,
            u.is_silence,
            u.login_type,
            u.ip_source,
            u.ip_address,
            r.role_id,
            r.role_name
        from myblog.tb_user u
        left join myblog.tb_role_user ru on u.user_id = ru.user_id
        left join myblog.tb_role r on r.role_id = ru.role_id
        <where>
            and u.is_delete = 0
            <if test="condition.keywords != null and condition.keywords != ''">
                and u.nickname like concat('%',#{condition.keywords},'%')
            </if>
            <if test="condition.loginType != null ">
                and u.login_type = #{condition.loginType}
            </if>
        </where>
        limit #{condition.current},#{condition.size}
    </select>

    <select id="getUserRoleList" resultType="com.zhao.dto.UserSignalDTO">
        select
            u.user_id,
            u.nickname,
            u.avatar,
            u.username,
            u.intro,
            r.role_name
        from myblog.tb_user u, myblog.tb_role r, myblog.tb_role_user ru
        where u.user_id = ru.user_id and r.role_id = ru.role_id
        <if test="nickname != null and nickname != ''">
            and u.nickname like concat('%',#{nickname},'%')
        </if>
        limit #{current},#{size}
    </select>

    <update id="updateSilenceById">
        update myblog.tb_user u
        set u.is_silence = #{isSilence}
        where u.user_id = #{userId}
    </update>
</mapper>
